.mat-toolbar.mat-primary {
  --mat-toolbar-container-background-color: #ffffff;
  --mat-toolbar-container-text-color: rgb(0, 0, 0);
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 100px;
}
.mat-icon{
  transform: scale(2);
}

