<nav>
  <mat-toolbar color="primary" *ngIf="!verificar()" class="toolbar">
    <li class="nav-item text-left flex-grow-1 d-flex align-items-center">
      <a class="nav-link ml-0" href="">
        <span>
          <img src="../../../assets/logo.svg" alt="Logo" class="logo">
        </span>
      </a>
    </li>

    <div class="search-container d-flex align-items-center" *ngIf="isHomePage()">
      <mat-form-field appearance="fill" class="rounded-input">
        <input matInput placeholder="Busca tu mueble ideal 3B" (keyup)="onSearch($event)">
        <button mat-icon-button matSuffix>
          <mat-icon style="color:#ff914d;">search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <span class="toolbar-items">
      <!-- <button mat-button>
        <mat-icon class="buttons">account_circle</mat-icon>
      </button> -->

      <button mat-flat-button [matMenuTriggerFor]="menu">
        <div class="d-flex">
          <mat-icon class="buttons">menu</mat-icon>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login">Iniciar Sesión</button>
        <button mat-menu-item routerLink="/signup-comprador">Registrarme</button>
        <button mat-menu-item routerLink="">Nosotros</button>
        <button mat-menu-item routerLink="">Preguntas frecuentes</button>
        <button mat-menu-item routerLink="/ayuda">Ayuda</button>
        <button mat-menu-item routerLink="">Atención al cliente</button>
      </mat-menu>
    </span>
  </mat-toolbar>
</nav>


<mat-toolbar color="primary" *ngIf="verificar()" class="toolbar">
  <li class="nav-item text-left flex-grow-1 d-flex align-items-center">
    <a class="nav-link ml-0" href="">
      <span>
        <img src="../../../assets/logo.svg" alt="Logo" class="logo">
      </span>
    </a>
  </li>

  <div class="search-container d-flex align-items-center">
    <mat-form-field appearance="fill" class="rounded-input">
      <input matInput placeholder="Busca tu mueble ideal 3B" (keyup)="onSearch($event)">
      <button mat-icon-button matSuffix>
        <mat-icon style="color:#ff914d;">search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <button mat-button [matMenuTriggerFor]="menuSalir" *ngIf="validarRol()" class="p-0 m-0">
    <mat-icon class="buttons">account_circle</mat-icon>
  </button>

  <button mat-button class="p-0 m-0" routerLink="carrito">
    <mat-icon class="buttons">shopping_cart</mat-icon>
    <span class="cart-badge">{{ obtenerNumeroDeItemsEnCarrito() }}</span>
  </button>
  <span class="toolbar-items">

    <button mat-flat-button [matMenuTriggerFor]="menu">
      <div class="d-flex">
        <mat-icon class="buttons">menu</mat-icon>
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="">Nosotros</button>
      <button mat-menu-item routerLink="">Preguntas frecuentes</button>
      <button mat-menu-item routerLink="/ayuda">Ayuda</button>
      <button mat-menu-item routerLink="">Atención al cliente</button>
    </mat-menu>
  </span>
</mat-toolbar>

<mat-menu #menuSalir="matMenu">
  <button mat-menu-item>
    Hola,
    <span>{{ comprador }}</span>
  </button>
  <button mat-menu-item [routerLink]="['perfil']">
    <mat-icon>build</mat-icon> Mi perfil
  </button>
  <button mat-menu-item routerLink="" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
</mat-menu>
