.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-toolbar.mat-primary {
  --mat-toolbar-container-background-color: #ffffff;
  --mat-toolbar-container-text-color: rgb(0, 0, 0);
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 100px;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-form-field {
  width: 50%; /* Ajusta este valor según tus necesidades */
}

.buttons{
  transform: scale(2);
}
