.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-mdc-button{
  --mat-icon-color:#737373 !important;
}

.mat-icon{
  --mat-icon-color:#737373 !important;
}

.cart-badge{
  color:#767676
}

.mat-toolbar.mat-primary {
  --mat-toolbar-container-background-color: #ffffff;
  --mat-toolbar-container-text-color: rgb(0, 0, 0);
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 100px;
}
.logo{
  height: 15vh;
  width: auto;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-form-field {
  width: 50%; /* Ajusta este valor según tus necesidades */
}

.buttons{
  transform: scale(2);
}

.nav-link img {
  min-width: 150px; /* Ajusta este valor según tus necesidades */
  transition: filter 0.3s ease;
  cursor: pointer;
}

.nav-link:hover img {
  filter: grayscale(100%);
}

@media (max-width: 576px) { /* Ajusta este valor según tus necesidades */
  mat-form-field.rounded-input {
    display: none;
  }
}
