.grid-container {
  margin: 20px;
}

.custom-image{
  height: 350px;
  object-fit: cover;
}

.mat-toolbar.mat-primary {
  --mat-toolbar-container-background-color: #ffffff;
  --mat-toolbar-container-text-color: rgb(0, 0, 0);
}
.mat-icon{
  transform: scale(2);
}

.toolbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icon-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mat-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 0;
}

.nav-item .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item .nav-link mat-icon {
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}

.navbar-nav {
  justify-content: space-around;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.nav-item {
  flex: 1 0 auto;
}

.nav-item .nav-link mat-icon:hover {
  color: #ff914d;
}

.card-link {
  color: inherit;
  text-decoration: none;
}

.card-link:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

.filter-icon {
  background-color: #efefef;
  border-radius: 15px;
  width: 50%;
  cursor: pointer;
}

.filter-icon:hover {
  background-color: #ff914d;
}

.distrito {
  color: #a0a0a0;
}

.precio {
  color: #ff914d;
}
.nav-link.active {
  color: #ff914d; /* Cambia el color del texto */
}
.nav-link.active::after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 100%;
  background: #ff914d; /* Añade una línea debajo del texto */
}
.pagination-container {
  display: flex;
  justify-content: center;
}
.circle-btn {
  background-color: #efefef;
  border-radius: 50%;
  border: none;
  padding: 10px; /* Ajusta este valor para cambiar el tamaño del botón */
}
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.end-0 {
  right: 0;
}
