img{
  width: 40%;
  height: auto;
  object-fit: cover;
}

button[color="primary"] {
  background-color: #ff914d;
  color: white;
  border-radius: 8px;
}

button[color="secondary"] {
  background-color: #a6a6a6;
  color: white;
  border-radius: 8px;
}
