<div class="filter-container card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h2>Filtros</h2>
  </div>
  <div class="card-body">
    <div class="filter-item form-group">
      <label class="fw-bold">Rango de precios</label>
      <div class="slider-container">
        <input type="range" min="0" max="4999" step="10" value="0" (input)="onPriceRangeChange($event)">
        <span>S/ {{priceRange}}</span>
      </div>
    </div>

    <div class="filter-item form-group">
      <label class="fw-bold">Categoría</label>
      <mat-select class="form-control" [(value)]="category">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.idCategorias">{{ categoria.tipo
          }}</mat-option>
      </mat-select>
    </div>

    <div class="filter-item form-group">
      <label class="fw-bold">Calificación del vendedor</label>
      <div class="star">
        <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
      </div>
    </div>
  </div>
  <button mat-raised-button (click)="resetFilters()">Reiniciar filtros</button>
  <button mat-raised-button (click)="applyFilters()">Aplicar filtros</button>
</div>
