<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de asesorías</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>idAsesorias</mat-label>
          <input matInput placeholder="Id" formControlName="idAsesorias" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Link</mat-label>
          <input matInput placeholder="Link" formControlName="link" />
          <mat-error
            *ngIf="obtenerControlCampo('link')?.errors?.['required']"
          >
            El link es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Motivo</mat-label>
          <input
            matInput
            placeholder="Motivo"
            formControlName="motivo"
          />
          <mat-error
            *ngIf="obtenerControlCampo('motivo')?.errors?.['required']"
          >
            El motivo es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>idCompra</mat-label>
          <mat-select formControlName="compra">
            <mat-option *ngFor="let tipo of listaCompras" [value]="tipo.idCompras">
              {{tipo.idCompras}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="obtenerControlCampo('compra')?.errors?.['required']">
            El idCompra es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill" class="example-full-width">
          <input
            matInput
            placeholder="Ingrese fecha"
            [matDatepicker]="picker"
            formControlName="fecha"
            [max]="maxFecha"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="obtenerControlCampo('fecha')?.errors?.['required']"
          >
           La fecha es obligatoria.
          </mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/components/postres">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>

