<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Inicie sesión</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Correo electrónico</mat-label>
        <input matInput placeholder="Correo electrónico" [(ngModel)]="username" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input
          type="password"
          matInput
          placeholder="Contraseña"
          [(ngModel)]="password"
        />
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary" (click)="login()">Ingresar</button>
    </div>
  </body>
</html>
